@model BlueboxPortal.Models.Airline

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Details</h2>
    <h4>Airline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameAlias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAlias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSRSFolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSRSFolder)
        </dd>

    </dl>

    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

    <div class="btn-group">
        <a href=@Url.Action("Edit","Airlines", new { id = Model.Id }) class="btn btn-default btn-sm"><i class="fa fa-edit fa-fw"></i> <span style="color:green;" class="network-name">Edit</span></a>
        <a href=@Url.Action("Delete","Airlines", new { id = Model.Id }) class="btn btn-default btn-sm"><i class="fa fa-trash fa-fw"></i> <span style="color:darkred;" class="network-name">Delete</span></a>

    </div>

    <div style="padding-top:30px;">
        <a href=@Url.Action("Index", "Airlines") class="btn btn-default btn-sm"><i class="fa fa-angle-double-left fa-fw"></i><span class="network-name">Back To List</span></a>
    </div>

</div>

