@model BlueboxPortal.Models.DetailsViewModel
@*@model BlueboxPortal.Models.PortalDBModel*@

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Details</h2>
    <h4>Airline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.DisplayNameFor(model => model.Airline.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airline.NameAlias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline.NameAlias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airline.FriendlyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline.FriendlyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airline.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airline.DbName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline.DbName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airline.SSRSFolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airline.SSRSFolder)
        </dd>

    </dl>

    @{
        var p = Model.PortalDBModel.getServiceRunForAirline(Model.Airline);
    }

    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Start Time:
        </dt>

        <dd>
            @p.Start
        </dd>

        <dt>
            End Time:
        </dt>

        <dd>
            @p.End
        </dd>

        <dt>
            New Files Processed: 
        </dt>

        <dd>
            @p.NewFiles
        </dd>

        <dt>
            Duplicate Files:
        </dt>

        <dd>
            @p.DuplicateFiles
        </dd>

        <dt>
            Unique Devices:
        </dt>

        <dd>
            @p.UniqueDevices
        </dd>

        <dt>
            New Devices: 
        </dt>

        <dd>
            @p.NewDevices
        </dd>

        <dt>
            CDR Count:
        </dt>

        <dd>
            @p.CDRCount
        </dd>

    </dl>

    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

    <div class="btn-group">
        <a href=@Url.Action("Edit","Airlines", new { id = Model.Airline.Id }) class="btn btn-default btn-sm"><i class="fa fa-edit fa-fw"></i> <span style="color:green;" class="network-name">Edit</span></a>
        <a href=@Url.Action("Delete","Airlines", new { id = Model.Airline.Id }) class="btn btn-default btn-sm"><i class="fa fa-trash fa-fw"></i> <span style="color:darkred;" class="network-name">Delete</span></a>

    </div>

    <div style="padding-top:30px;">
        <a href=@Url.Action("Index", "Airlines") class="btn btn-default btn-sm"><i class="fa fa-angle-double-left fa-fw"></i><span class="network-name">Back To List</span></a>
    </div>

</div>

